<block-ui>
  <google-map [height]="height"
              [width]="width"
              [center]="{ lat, lng }"
              (mapClick)="selectPlace($event)"
            >
            <map-marker *ngIf="markerPosition"
              [position]="markerPosition"
              [options]="markerOptions"></map-marker>
  </google-map>
  
  <div class="input">
    <input type="text"
         placeholder="Pick one"
         aria-label="Number"
         matInput
         id="input"
         [(ngModel)]="search"
         (ngModelChange)="searchPlace($event)"
         [matAutocomplete]="auto">
  
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayInput">
      <mat-option *ngFor="let option of geocoderResponse$ | async" [value]="option">
        {{option.formatted_address}}
      </mat-option>
    </mat-autocomplete>
  </div>
  
  <mat-card class="information-card" *ngIf="response$ | async as response">
    <mat-card-title>{{ response.data.city }}, {{ response.data.state }} - {{ response.data.country }}</mat-card-title>
    <mat-card-content>
      <p>Air Quality Index - {{response.data.current.pollution.aqius}} [ {{ response.data.current.pollution.aqius | airQuality }} ]</p>
      <p>Main pollutant - {{response.data.current.pollution.mainus}}</p>
    </mat-card-content>
  </mat-card>
</block-ui>